/* Variables css */


:root {
    --gte-color: #E84E0F;
    --gccd-color: #6ED059;
    --chimie-color: #903AA5;
    --geii-color: #F9D523;
    --gmp-color: #238CC1;
}

/* Importation des fontes */

@font-face {
    font-family: Geo;
    src: url("./lib/font/geo_sans_light/GeosansLight.ttf");
}

@font-face {
    font-family: Geo;
    src: url("./lib/font/geo_sans_light/GeosansLight-Oblique.ttf");
    font-style: oblique;
}

@font-face {
    font-family: Lemon-milk;
    src: url("./lib/font/lemon_milk/LemonMilk.otf");
}

@font-face {
    font-family: Lemon-milk;
    src: url("./lib/font/lemon_milk/LemonMilkbold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Lemon-milk-light;
    src: url("./lib/font/lemon_milk/LemonMilklight.otf");
}

@font-face {
    font-family: Lemon-milk;
    src: url("./lib/font/lemon_milk/LemonMilkitalic.otf");
    font-style: italic;
}


/*------------------------------------*/
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

li, ul {
    list-style: none;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

.intro {
    height: 0;
    position: absolute;
    bottom: 0;
    transition: all 1s;
    background-color: #F1F1F1;
    z-index: 1000;
}

.articles {
    height: 0;
    position: absolute;
    bottom: 0;
    transition: all 1s;
    background-color: #F1F1F1;
    z-index: 2000;
}

.videos {
    height: 0;
    position: absolute;
    bottom: 0;
    transition: all 1s;
    background-color: #F1F1F1;
    z-index: 3000;
}

.infos {
    height: 0;
    position: absolute;
    bottom: 0;
    transition: all 1s;
    background-color: #F1F1F1;
    z-index: 4000;
}

.hidden{
    height: 0vh;
    transition: all 1s;
}

.open{
    top: 0;
    height: 100vh;
    /*height: 100vh;
    animation-duration: 1s;
    animation-name: opening;*/
    /*animation-timing-function: linear;*/
}

@keyframes opening {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;
    }
}

.close{
    top: 100vh;
    /*height: 0vh;
    animation-duration: 1s;
    animation-name: closing;*/
    /*animation-timing-function: linear;*/
}

@keyframes closing {
    0% {
        height: 100vh;
    }

    100% {
        height: 0;
    }
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent le menu en ligne visible sur la première slide des pages */

#menu-row {
    height: 11vh;
    line-height: 11vh;
    white-space: nowrap;
}

#ligne-vide {
    height: 79vh;
}

#triangle-blanc {
    height: 20vh;
}

.div-triangles {
    position: relative;
    bottom: 0;
    left: 50vw;
    right: 50vw;
    width: 0;
    height: 0;
    border-top: 100vw ;
    border-bottom: 0;
    border-left: 20vh #F1F1F1;
    border-right: 20vh #F1F1F1;
}

.nav-item {
    color: #F1F1F1;
    font-size: 4vh;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.8;
    font-family: Lemon-milk;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2vh;
    left: 0;
    background: var(--gte-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.picto-accueil {
    margin-top: 3vh;
    height: 35vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#ligne-vide-accueil {
    height: 27vh;
}

.cta-accueil {
    margin-top: 5vh;
    height: 30vh;
    font-family: Geo;
    font-size: 4vw;
    text-align: center;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleche2{
    height: 10vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3vh;
    margin-bottom: 3vh;
    cursor: pointer;
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent les points permettant de savoir sur quel 'slide' on se situe */

.point-menu {
     position: absolute;
     right: 0;
     top: 35vh;
     bottom:35vh;
     left: 95vw;
}

.menu-point {
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2vh;
}

/*.menu-point:hover {
    cursor: pointer;
}*/

.point-1 {
    top: 35vh;
}

.point-2 {
    top: 41vh;
}

.point-3 {
    top: 47vh;
}

.point-4 {
    top: 53vh;
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent le menu "navbar" se situant sur la droite de l'écran au survole des points */

#navbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
    background-color: #CCCCCC;
    z-index: 100000;
}

.closed-navbar{
    left: 100vw;
}

.open-navbar{
    left: 80vw;
    transition: all 0.5s;
}

#navbar-elements {
    text-align: center;
    margin-top: 25vh;
}

.navbar-element {
    height: 10vh;
    line-height: 10vh;
    white-space: nowrap;
}

.navbar-element:hover {
    cursor: pointer;
}

.nav-item2 {
    color: #F1F1F1;
    font-size: 2vw;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.8;
    font-family: Lemon-milk;
}

.nav-item2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2vh;
    left: 0;
    background: rgb(222,92,56);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item2-gte {
    color: #F1F1F1;
    font-size: 2vw;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.8;
    font-family: Lemon-milk;
}

.nav-item2-gte::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2vh;
    left: 0;
    background: var(--gte-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item2-gte:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent le bouton burger situé en haut à droit de la page */

.burger {
    position: absolute;
    right: 2vh;
    top: 2vh;
    width: 7vh;
    height: 7vh;
    overflow: hidden;
    z-index: 7000;
    cursor: pointer;
}

.burger-line-wrap {             /* Style des lignes horizontales*/
    left: 2vh;
    width: 3vh;
    right: 2vh;
    position: absolute;
    height: 0.1vh;
    transition: width 0.4s;
}

.burger-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.burger-line-dark {
    background: black;
}

.burger-line-wrap-0 {
    top: 4.5vh;
}

.burger-line-wrap-1 {
    top: 3.5vh;
}

.burger-line-wrap-2 {
    top: 2.5vh;
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent le layout des slides */

.slide-title {
    height: 10vh;
    text-align: center;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*#title-GTE {
    position: relative;
    left: -2vw;
}*/

.slider-photos {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-slider{
    height: 50vh;
    width: 66.67vh;
    margin: 0 auto;
    overflow: hidden;
}

.slider-img{
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 66.67vh;
}

.hidden-img {
    opacity: 0;
}

.slider-text {
    height: 30vh;
    font-size: 1.005vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bouton-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
}

.h-intro-left-wrap {
    z-index: 1001;
    margin-left: 2vh;
    width: 100vh;
    font-size: calc(.42rem + .42vw);
    transform-origin: top left;
    transform: rotate(-90deg) translate3d(-100%,0,0);
}

.h-intro-left-right {
    position: absolute;
    top: 0;
    right: 5vh;
    color: black;
    font-family: Lemon-milk;
    font-size: 3vh;
}

/* Règles de style pour la page informations */

.infos-title {
    height: 13vh;
    font-size: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Lemon-milk-light;
}

.layout-border {
    position: absolute;
    opacity: 0.5;
}

.layout-border-right {
    bottom: 0;
    top: 0;
    right: 0;
    width: 1px;
    background: black;
    opacity: 0.7;
}

.infos-map {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-infos {
    height: 35vh;
    width: 30vw;
}

.contact-row {
    height: 10vh;
    font-family: Geo;
    font-size: 1.3vw;
}

.contact-mail {
     color: #333333;
 }

.contact-mail:hover {
    color: #333333;
}

.infos-button {
    height: 16vh;
}

.picto-container{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: 25vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1vw;
    margin-left: 1vw;
    transform: scale(0.9);
    filter: grayscale(100%);
    transition: all 0.5s;
    cursor: pointer;
}

.picto-container:hover {
    transition: all 0.5s;
    filter: grayscale(0%);
    transform: scale(1.1);
}

.ligne-vide-infos {
    height: 10vh;
}

/* règles pour l'article affiché par la pop-up de la page information */

.article-container {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bloc-text-medium {
    height: 58vh;
    font-family: Geo;
    font-size: 1.2vw;
    text-align: justify;
}

.bloc-photos{
    height: 33vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bloc-photos-max{
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.special-text{
    text-align: left;
}

.bloc-text-max {
    height: 92vh;
    font-family: Geo;
    font-size: 1.2vw;
    text-align: justify;
}

.bloc-text-mini {
    height: 35vh;
    font-family: Geo;
    font-size: 1.2vw;
    text-align: justify;
}

.ligne-vide-article{

}

#bloc-photos1 {
    margin-top: 1vh;
}

#bloc-photos2 {
    margin-top: 5vh;
}

.bold-corps {
    font-weight: bold;
}

.element-important-gte {
    color: var(--gte-color)
}

/* Règles de style pour la page vidéo */

.video-container{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    height: 35vh;
    width: 60.21vh;
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Les règles suivantes concernent la slide d'acceuil de la page d'acceuil*/

.nav-item-3 {
    color: #F1F1F1;
    font-size: 4vh;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-family: Raleway;
}

.nav-item-3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2vh;
    left: 0;
    background: rgb(222,92,56);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item-3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#logo-row {
    height: 29vh;
}

#logo{
    height: 29vh;
    background-image: url("./images/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cta-row {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text {
    height: 45vh;
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-typo {
    font-size: 1.2vw;
}

.phrase-importante {
    font-weight: bold;
    color: #DE6C38;
}

.phrase-importante2 {
    font-weight: bold;
    color: var(--gte-color);
}

/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Style de la première slide d'intro */

.fleche{
    height: 6vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}



.plat-intros {
    height: 80vh;
}

.plat-name {
    font-size: 2vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleche-container {
    position: relative;
}

.plat-text {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-content {                  /* Style des boutons */
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_button {
    text-align: center;
    width: fit-content;
    margin-bottom: 3vh;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
}

.home_button a {
    z-index: 1;
    padding: 10px;
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button {
    color: #333333;
    box-shadow: #333333 0 0px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a#button1:hover {
    color: #DE6C38;
    box-shadow: #333333 0 0px 0px 40px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a.button1-gte:hover {
    color: var(--gte-color);
    box-shadow: #333333 0 0px 0px 40px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}


a.button1:hover {
    color: #DE6C38;
    box-shadow: #333333 0 0px 0px 40px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a#button2:hover {
    color: #F1F1F1;
    box-shadow: #333333 0 80px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a.button2:hover {
    color: #F1F1F1;
    box-shadow: #333333 0 80px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a.button2-gte:hover {
    color: var(--gte-color);
    box-shadow: #333333 0 80px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}
/* ———————————————————————————————————————————————————————————————————————————————————————— */
/* Style des pop-up de la page d'accueil et des pages spécialisés*/

.pop-up {
    border-radius: 10px;
    position: absolute;
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
    z-index: 3000;
    background-color: #CCCCCC;
    transition: all 0.5s;
}

.pop-up2 {
    border-radius: 10px;
    position: absolute;
    top: 3vh;
    bottom: 3vh;
    left: 5vw;
    right: 5vw;
    z-index: 3000;
    background-color: #CCCCCC;
    transition: all 0.5s;
}

.hidden-pop-up{
    display: none;
    opacity: 0;
    transition: all 0.5s;
}

.visible-op-up{
    display: block;
    opacity: 1;
    transition: all 0.5s;
}

.pop-up-photo{
    height: 90vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.pop-up-title {
    height: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 3vw;
}

.pop-up-text {
      height: 55vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 3vw;
      padding-left: 3vw;
}

.pop-up-buttons {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3vw;
    padding-left: 3vw;
}

.cross {
    position: absolute;
    right: 0.5px;
    top: 0.5px;
    width: 9vh;
    height: 9vh;
    overflow: hidden;
    z-index: 7000;
    cursor: pointer;
}

.burger-close-wrap {        /* Style de la croix */
    position: absolute;
    width: 0.3vh;
    height: 0.1vh;
    background: white;
}

#burger-close-wrap-0 {
    transform: rotate(45deg);
    top: 3.5vh;
    left: 2vh;
}

#burger-close-wrap-1 {
    transform: rotate(-45deg);
    right: 2vh;
    top: 3.5vh;
}
